body {
  position: relative;
}

/* Header and navigation */

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
}

.navigation {
  display: block;
  opacity: 0;
  transform: translateY(-7rem);
  transition: transform 0.6s linear, opacity 0.6s linear;
  background-color: var(--main-color-1000);
  color: var(--main-color-400);  
  max-width: 600px;
  margin: 2rem auto;
  border-radius: 1.5rem;
  font-size: 1.4rem;
  font-weight: lighter;
  box-shadow: 0 0 0.3em 0 var(--shadow-color-600);
}

.mobile-navigation {
  display: none;
  font-size: 3rem;
  justify-content: flex-end;
  padding-right: 2rem;
  padding-top: 2rem;
  text-shadow: 1px 1px 0.1rem var(--main-color-1000);
}

.mobile-navigation a {
  text-decoration: none;
  color: var(--secondary-color-800);
  z-index: 20;
  position: relative;
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 2rem;
  padding: 0.5rem 2rem;
}

.nav-list li a {
  text-decoration: none;
  color: var(--main-color-400);
  text-wrap: nowrap;
}

.nav-list li a:hover {
  cursor: pointer;
  color: var(--main-color-200);
  text-shadow: 0 0.1rem 1.3rem #fff;
}

.navigation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background-color: #fff;
  display: none;
  transform: translateX(-100vw);
  transition: transform 0.5s linear;
  justify-content: center;
  align-items: center;
  color: var(--main-color-200);
  background-color: var(--main-color-1000);
  font-weight: lighter;
}

.mobile-nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
  text-align: center;
}

.mobile-nav-list a {
  text-decoration: none;
  color: inherit;
}

 /* Header and navigation end */

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 7rem 1rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

/* Section hero starts */

.section-hero {
  background-color: var(--main-color-1000);
  color: var(--main-color-400);
}

.profile-image-wrapper {
  opacity: 0;
  flex: 0 1 30%;
  overflow: hidden;
  max-width: 300px;
  aspect-ratio: 1/1;
  transform: translateX(-20%);
  transition: transform 0.6s linear, opacity 0.6s linear;
}

.profile-image {
  width: 100%;
}


.hero-text-wrapper {
  flex: 1 1 45%;
  opacity: 0;
  transform: translateX(+10%);
  transition: transform 0.6s linear, opacity 0.6s linear;
}

.hero-header {
  font-size: 5rem;
  font-weight: normal;
}

.typewritter {
  font-size: 2rem;
  font-weight: lighter;
  /* padding-bottom: 2rem; */
}


.tech-stack-content {
  opacity: 0;
  transform: translateY(5rem);
  transition: transform 0.6s linear, opacity 0.6s linear;
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.tech-stack-images {
  max-width: 64px;
  width: 100%;
  aspect-ratio: 1/1;
  transition: transform 0.2s;
}

/* Section Hero Ends */

/* Section About Starts */

.section-about {
  background-color: var(--main-color-200);
  color: var(--main-color-1000);
}

.about-article {
  flex: 1 1 50%;
  padding: 1rem;
  transition: opacity 0.6s linear;
}

.about-article h1 {
  padding-bottom: 2rem;
}

.about-article p {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.about-header {
  width: 100%;
}

.about-media-wrapper, .media-wrapper {
  flex: 1 0 35%;
  max-width: 400px;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: opacity 0.6s linear
}

.about-image, .generic-image {
  width: 100%;
}

/* Section About Ends */

/* Section Portfolio Starts */

.section-portfolio {
  background-color: var(--secondary-color-400);
  color: var(--main-color-1000);
  padding: 7rem 1rem;
}

.portfolio-card {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 2rem;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0 var(--shadow-color-600);
  transition: opacity 0.8s linear;
}

.portfolio-functionality-list {
  padding-left: 1em;
  padding-bottom: 1rem;;
}

.portfolio-article {
  flex: 1 1 45%;
}

.portfolio-article-header {
  padding-bottom: 2rem;
}

.portfolio-article-p {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.portfolio-functionality-list {
  font-size: 1.3rem;
}

.portfolio-article .portfolio-article-p:last-of-type {
  display: flex;
  gap: 0.7rem;
  flex-wrap: wrap;
}

.stack-element {
  padding: 0.3rem 0.7rem;
  background-color: var(--main-color-1000);
  color: var(--main-color-200);
  font-weight: lighter;
  font-size: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.3rem 0 var(--main-color-800);
}

/* Third child media wrapper rectangular */
.portfolio-card:nth-child(4) .media-wrapper, .portfolio-card:nth-child(1) .media-wrapper {
  border-radius: 0.5rem;
  aspect-ratio: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Section Portfolio Ends */

/* Section Certificates Starts */

.section-certificates {
  background-color: var(--main-color-200);
  padding-top: 2rem;
}

.cert-link-wrapper {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.cert-btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: var(--main-color-400);
  color: var(--main-color-1000);
  border-radius: 0.3rem;
  /* box-shadow: 0 0 0.5rem 0 var(--shadow-color-600); */
  transition: background-color 0.2s linear, color 0.2s linear;
}

.cert-btn:hover {
  background-color: var(--main-color-1000);
  color: var(--main-color-200);
}

.cert-btn:not(:last-of-type) {
  margin-right: 2rem;
}

/* Section Certificates Ends */

/* Section Contact Begins */

.section-contact {
  color: var(--main-color-1000);
}

.content-contact {
  gap: 2rem;
}

.contact-header-wrapper {
  flex-basis: 100%;
  text-align: center;
}

.contact-socials-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  font-size: 3rem;
}

.socials {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--main-color-1000);
  aspect-ratio: 1/1;
  width:4.5rem;
  border-radius: 50%;
  transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
}

.socials:hover {
  background-color: rgb(250, 250, 250);
  box-shadow: 0 0 0.5rem 0 var(--shadow-color-600);
}

/* Section Contact Ends */

/* Footer Starts */
footer {
  background-color: var(--main-color-1000);
  color: var(--main-color-200);
  text-align: center;
  padding: 1rem;
}

footer strong {
  font-weight: normal;
}
/* Footer Ends */

/* To Top Button */

.to-top {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  bottom: 5rem;
  right:5rem;
  z-index: 10;
  color: var(--main-color-800);
  width: 3rem;
  aspect-ratio: 1/1;
  background-color: var(--secondary-color-transparent-400);
  box-shadow: 0 0 0.5rem 0 var(--shadow-color-600);
  transition: background-color 0.2s linear;
}

.to-top:hover {
  cursor: pointer;
  background-color: var(--secondary-color-400);

}

.not-visible {
  display: none;
}

.reset-offset {
  transform: translateX(0%);
  transform: translateY(0%);
}

.reset-opacity {
  opacity: 100;
}

.zero-opacity {
  opacity: 0;
}

/* To Top Button Ends */

/* Media queries */

@media (max-width: 600px) {
  .section-hero {
    text-align: center;
  }

  .content {
    gap: 3rem;
  }

  .profile-image-wrapper {
    flex-basis: 50%;
  }

  .tech-stack-images {
    max-width: 36px;
  }

  .portfolio-card {
    gap: 2rem;
    flex-direction: column;
  }

  .portfolio-card > .media-wrapper {
    max-width: 250px;
    min-width: auto;
  }

  .portfolio-card:nth-last-of-type(2) {
    flex-direction: column-reverse;
  }

  .section-certificates {
    padding: 0;
  }

  html {
    font-size: 12px;
  }

  .section-certificates {
    min-height: calc(100vh - 10rem);
    padding: 5rem 0;
  }

  .cert-link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .to-top {
    right: 2rem;
  }

  header {
    position: fixed;
  }

  .mobile-navigation {
    display: flex;
  }

  .navigation {
    display: none;
  }

  .carousel img {
    height: 400px;
  }

  .carousel img:hover {
    height: 500px;
  }
}

.author {
  display: none;
}