* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

html {
  font: 14px/1.5 Lato, sans-serif;
}

input, button, textarea, label, ul, li {
  font: inherit;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.4rem
}

h6 {
  font-size: 1.2rem;
}
